@charset "utd-8";
:root{
    --space1:20px;
    --basecolor:#ffffff;
    --maincolor:#fff799;
    --maincolorRGB:255,247,153;
    /* --maincolor:#504946; */
    /* --maincolorRGB:80,73,70; */
    --accentcolor:#504946;
    --linkcolor:#0000ff;
    --stepColor:#555D66;

    --logoFont:'Nova Mono', monospace;
    --numberFont:'Crimson Text', serif;
   
}
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

/* 共通の処理 */
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background:var(--basecolor);    
    color:var(--accentcolor);
}

.wrapper {    
    max-width: 1020px;
    min-width: 760px;
	margin: 0 auto;
    padding-right: 10px; 
    padding-left:  10px; 
}

h1{
    font-size: 180%;
    text-align: center;
    margin-bottom:var(--space1);
}

h2{
    display: inline-block;
    font-size: 130%;    
    text-align: center;
    margin:var(--space1) 0;
    padding: 10px; 
}
h3{
    font-size: 120%;
    text-align: center;
    margin:var(--space1) 0;
 }
 p{
    line-height: 1.5; 
 }

 section{     
     /* margin-top: var(--space1); */
     margin-bottom:100px;
 }

strong{
    font-family: sans-serif;
    font-weight: bold;    
}

.numberF{
    font-family: var(--numberFont);
    margin: 0 3px;
}
.boldT{
    font-weight:bold;    
}

/* パンくずリスト */
.breadcrumbs{
    display: flex;   
}
.breadcrumbs li::after{
    content: '>';
    display: inline-block;
    padding: 0 10px;
}

.breadcrumbs li:last-child::after{
    display: none;
}  

/* トップへ戻るボタンの処理 */
#page_top {
    position: fixed;
    bottom: 30px;
    right: 20px;
}
#page_top a {
    background-color:var(--accentcolor);
    color:var(--basecolor);
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
    opacity: 0.5;
    box-shadow:  0 0 8px var(--basecolor);    
}
#page_top a:hover {
    background-color:var(--accentcolor);
    opacity: 1;    
    text-decoration: none;
}

a:hover{
    color: var(--accentcolor);
    opacity: 0.8;
}
/* 共通の処理 ここまで*/

/* ヘッダーの処理 */
header{
    position:sticky;
    top:0;  
    z-index: 10;  
    background-color:var(--basecolor);
}

.headArea{
    display: flex;
    height: 100px;
    justify-content:space-between; 
    box-shadow: 0px 1px 2px -2px var(--accentcolor);
    margin-bottom: 5px;
}
.breadcrumbs{
    margin-bottom: 5px;
    
}
.headlogoArea{
    width: 500px; 
    display: flex;
    align-items: center;
}
.headlogoP{
    width: 50px;        
}
.headlogoT{
    font-family: var(--logoFont);
    font-size: 200%;
    margin-left: 5px;  
}
.logoF{
    font-family: var(--logoFont);
}
.navArea{
    /* width: 400px; */
    display:flex;
    background-color:var(--basecolor);    
    align-content:flex-end;    
}
.btn{
    /* display:none; */
    display:block;
}
.navBoxAll{
    width: 100%;
    display: block;
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;    
    background-color:var(--basecolor);     
}
.navBox{
    width: 105px;
    height: 40px;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--basecolor);
    border-top: solid 1px;
    border-right: solid 1px;
    font-size: 80%;
}

/* ナビボタンhoverの処理 */
.navBox:hover{    
    text-align: center;    
    background-color:var(--maincolor);
    color:var(--accentcolor);    
}
.navBox a:hover{
    color:var(--accentcolor);    
}

/* ヘッダーの処理 ここまで*/

/* キービジュアルの処理 */
.kyevisual {
    position: relative;
    overflow: hidden;
    height: 40vh;
    margin-bottom: 100px;
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color:var(--basecolor);    
}
.slider .image{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: anime 15s 0s infinite; /* ②で設定したanimation-delayをスライド数で割った時間をdelay(15s)に入れる */
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*
②画像の数ごとに animation-delay を設定します。
下記では、5秒間隔で切り替わるように設定しています。
*/
.slider .image:nth-of-type(1){
    background-image: url(../images/1111111439.jpg);
    background-size:cover;

}
.slider .image:nth-of-type(2){
    animation-delay: 5s;
    background-image: url(../images/red.jpg);
    /* background-size:50% auto; */
}
.slider .image:nth-of-type(3){
    animation-delay: 10s;
    background-image: url(../images/blue.jpg);
     /* background-size:50% auto; */
}
@keyframes anime {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.18);
    }
}
/* キービジュアルの処理 ここまで*/

/* メインの処理 */
.textBox {
 display: flex;
 flex-direction: column;
 text-align: center;
}
.smallT{
    font-size:60%;
}

.lessonBoxAll{
    display:flex;
    width: 700px;
    flex-wrap: wrap;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
}
.lessonBox{
    position:relative;
    width:300px;
    height:200px;
    overflow: hidden;
    background-color:var(--maincolor);
    margin: var(--space1);
}
.lessonBox p{
    position: absolute;
    width: 100%;
    height: 20%;
    background-color:rgba(0,0,0, 0.5);
    color: var(--basecolor);
    bottom: 0;
    font-size: larger;
    text-align: center;
    padding-top:5px;
    letter-spacing: 3px;
}
.lessonBox img{
    width: 100%;
}

.newsBox{
    display: flex;
    margin-bottom: var(--space1);    
}
.newsText{
    flex: 2; 
    padding-right:30px;
}
.titleT{
    margin-bottom: 5px;
}
.newsImage{
    flex: 1;
    height: 150px;
    /* background-color:darkseagreen    */
}
.newsImage img{
    object-fit: cover;
    width: 100%;
    height: 100%;   
    
}
.accessBox{
    display: flex;
    margin-bottom: var(--space1);  
}

.accessT{
    flex: 1;     
    padding-right:30px;
}
.accessT p{
    text-align: left;
}

.opentime td{
    padding: 2px 5px;   
    text-align: left;
}

.calendar{
    flex: 1;    
    background-color:var(--basecolor);
    padding: var(--space1);    
    
}


/* テスト */
.view {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    overflow: hidden;
  }
  .list {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
  }
  .item {
    min-width: 100%;
  }
  .item img{
    max-width: 100%; 
  }
  .buttons{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .button{
    width:32px;
    height:32px;
    border:none;
    outline:none;
    padding:0;
    background:transparent center no-repeat;
    cursor:pointer;
    opacity:.4;
    }
    .button.prev{
    background-image: url(../images/prev-icon.png);
    }
    .button.next{
    background-image:url(../images//next-icon.png);
    }
    .button:hover{
    opacity:.8;
    }



/* メインの処理ここまで */
/* フッターの処理 */
footer{
    width: 100%;
    height: 100px;
    background-color:var(--maincolor);
    /* color: var(--basecolor); */
}


.footerText{
    margin-left: var(--space1);
    margin-top: var(--space1);
} 

.footerArea{
    position: relative;
}
.footerlogoArea{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 15px;
}
.footerlogoP{    
    height: 35px;
}
.footerlogoT{
    font-family: var(--logoFont);
    font-size: 150%;  
    margin-left: 5px;

} 
.copyright{
    position:absolute;
    top:70px;    
    width: 100%;
    text-align: center;    
    font-size: small;
} 

/* フッターの処理ここまで */

/* ------------------------------------------- */
/*  レッスンメニュー　　　　　　　　　　　　　　　*/
/* ------------------------------------------- */
.courceInfoAll{
    display: flex;
    justify-content: space-between;    
    /* margin-bottom: 60px; */
    
}
.courceText{
    flex:1;
    overflow: hidden;   
    margin-right: 15px;
    
}
.cTitle{
    width: 200px;
    height: 40px;    
    font-size:110%;
    text-align: center;
    margin-bottom:var(--space1);
    border-right: solid 1px var(--accentcolor);
    border-bottom: solid 1px var(--accentcolor);
}
.courceDetail{
    line-height: 1.5;
    margin-bottom: 15px;
}
.priceTime{
    display: flex;   
    
}
.priceTime td{
    padding: 3px 5px;     
    font-size:105%;
}
.commonT{
    
    margin-left: 10px;
    font-size: 80%;
}
.courcePhoto{
    flex:1;
    height: 300px;
    margin-bottom: 15px;
    /* background-color: royalblue; */
    
}
.courcePhoto img{
    width: 100%;
}

.priceTime{
    margin-bottom: 15px;
}
.reserveUrl{
    color: var(--linkcolor);
    text-decoration: underline;
}




/* ------------------------------------------- */
/*  アクセス　　　　　　　　　　　　　　　　　　　 */
/* --------------------------------------------*/

.map{    
    width: 100%;
    height: 300px;
}
.accessText{
text-align: center;
margin-bottom: var(--space1);
}
.accessImg{
    display: flex;   
    width: 200px; 
    height: 200px;   
    justify-content: center;  
    margin-bottom: var(--space1);
    margin-left:auto;
    margin-right:auto;    
}
.accessImg img{
 object-fit: contain;
}


/* ------------------------------------------- */
/*  予約　　　　　　　　　　　　　　　　　　　　　 */
/* ------------------------------------------- */
.requiredItem{
    background-color:var(--accentcolor);
    color:var(--basecolor);
    font-size:x-small;
    padding: 3px;
    margin: var(--space1);
}


.courseList {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.courseSet{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    border: solid 1px var(--accentcolor);
    margin-bottom: 2px;
}
.courseInput{
    margin:5px;
}

.course{
    position: relative;
    display: block;
    width: 200px;
    height: 100%;
    background-color: var(--accentcolor);
    color: var(--basecolor);
    text-align: center;    
}
.course img{    
    width: 100%;
}
.course p{ 
    position: absolute;
    width: 100%;
    bottom:0;
    letter-spacing: 3px;
    background-color:rgba(0,0,0,0.5);   
}

.yoyakuAll{
    display: flex;
    justify-content:center;
    align-items:center;
}
.yoyakuBox{
    width: 350px;        
    display: flex;    
    align-items:center;
}
.yoyakulabel{
    width: 100px;
    text-align: right;
    padding-right:5px;    
}
.inputBox{
    width: 100%;
    height: 50px;
    border: solid 1px var(--accentcolor);
    padding-left: 10px; 
}

.infoAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table{
    display: block;
    width: 100%;
}

.nameInfo{    
    width: 100%;
    display: flex;   
    justify-content: space-between;
}   
.nameInfo div {
    width: 300px;
    margin-right: 10px;
}
.marginText{
    padding-right: 10px;    
}

.border{
    width: 100%;
    border-bottom: dotted 1px var(--accentcolor);    
}

.btnAll{
    width: 30%;
    height: 60px;
    background-color: var(--accentcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto ;    
}
td{
    padding:10px 20px;     
}

.confirmBox{
    margin-left:20px;
    margin-right:20px;
}
.confirmTable{
    width: 100%;   
}
.confirmTable th{
    width: 160px;
    padding: 20px;
    border-right: dotted 1px var(--accentcolor);
    border-bottom: dotted 1px var(--accentcolor);
    border-top: dotted 1px var(--accentcolor);
    
}
.confirmTable td{
    padding: 20px;
    border-top: dotted 1px var(--accentcolor);
    border-bottom: dotted 1px var(--accentcolor);
}

.closeBtn{
    margin-top: var(--space1);
}


.reserveBtn{    
    color: var(--basecolor);    
    font-size: larger;
}
.backBtn{
    width: 80px;
    background-color:var(--accentcolor);
    color: var(--basecolor);
    text-align: center;
    margin-bottom: var(--space1);
}

.point{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;  
    margin-bottom: 50px;  
}

.colorA{
    flex:1;    
    height: 20px;
    background-color:var(--stepColor);
    border: solid 1px var(--stepColor);
    color: var(--basecolor);
    margin-right: 2px;
}
.colorB{    
    flex:1;    
    height: 20px;
    background-color:var(--basecolor);
    border: solid 1px var(--stepColor);
    color: var(--accentcolor);
    margin-right: 2px;
}

.endMsg{
    height: 100px; 
    padding:40px 0; 
} 


/* ---------------------------------- */
/* レシポンシブルここから */
/* ---------------------------------- */
@media(max-width:500px){
    .wrapper{
        max-width:500px;
        min-width: 320px;
        position:relative;
        margin: 0 auto;
        padding-right: 10px; 
        padding-left:  10px; 
        font-size: 80%;
    } 

    /* ヘッダーエリア */  
    header{
        position:static;

    }
    section{
        margin-bottom: 50px;     
    }
    .kyevisual{        
        margin-bottom: 50px;     
    }

    .copyright{
        font-size: x-small;
    }


      /* バーガーボタンの表示 */
    .btn {
        /* ボタンの配置位置  */    
        position: fixed;
        top: 0%;
        right: 2%;
        /* ボタンの大きさ  */
        width: 30px;
        height: 30px;
        /* 最前面に */
        z-index: 100;    
        background-color:var(--accentcolor);
    }
    .btn-line {
        display: block;
        position: relative;
        width: 100%;
        height: 3px;
        background-color: var(--basecolor);
        transition: .2s;
    }
        /****** 上下のバーガー線 *****/
    .btn-line::before,
    .btn-line::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--basecolor);
        transition: .5s;
    }
    .btn-line::before {
        /* 上の線の位置 */
        transform: translateY(-8px);
    }
    .btn-line::after {
        /* 下の線の位置 */
        transform: translateY(8px);
    }
       
    /***** メニューオープン時 　×ボタンにする*****/
    .btn-line.open {
        background-color: transparent;
        /* 真ん中の線を透明に */
    }
    .btn-line.open::before,
    .btn-line.open::after {
        content: "";
        background-color: var(--basecolor);
        /* 上下の線の色を変える */
        transition: .2s;
    }
    .btn-line.open::before {
        transform: rotate(45deg);
        /* 上の線を傾ける */
    }
    .btn-line.open::after {
        transform: rotate(-45deg);
        /* 下の線を傾ける */
    }

    /* ナビの処理 */
    .logoArea{
        width:50%;
    }
   .btn{
       display: block;
   }
    .navBoxAll{        
        position: fixed;
        width: 50%;
        right: 2%;
        top:-50%;
        height: 30vh;
        margin-left: auto;
        display: flex;
        flex-direction: column;                   
        transition: .3s;
        justify-content: center;
        align-items: center;
        z-index: 10; 
    }
    .navBox {
        width: 100%;
        height: 100%;
        display: flex;
        background-color:rgba(255,247,153,0.3);  
        border: none;
        border-bottom: solid 1px;
        font-size: 100%;
    }
    .navBoxAll.open {
        /* right: 0; */
        top:0;
    }
 
    /* レッスンエリア */
    .lessonBoxAll{
        position:relative;
        flex-direction: column;
        width:100%;
    }
    .lessonBox{
        width:70%;
        height:100px;
        margin: 2px auto 0 auto;         
        background-color:var(--maincolor);
    }
    .lessonBox p{
        font-size: 150%;
        padding:0;
        height: 30%;
        
    }

    /* ニュース、アクセス　エリア*/
    .newsBox{        
        flex-direction:column-reverse;
        
    }
    .newsImage{
        width:70%;
        margin:0 auto 5px auto;
    }
    .newsImage{
        
    }

    .accessBox{
       display: block;
        /* flex-direction:column;        */
    }    
        
    /* ----------------------------------- */
    /* レッスンメニュー　                    */
    /* ----------------------------------- */
    .courceInfoAll{        
        flex-direction: column-reverse;
        align-items: center; 
        text-align: center;
        
    }
    .courceText{
        margin-right: 0;
    }
    .courcePhoto{
        flex:none;
        width:80%;
        height: 250px;
        margin-bottom: 0;
    }
    
    .cTitle{
        margin:  0 auto 5px auto;
        height: 100%;
        border: none;
    }
    .courceDetail{
        width: 80%;
        height: auto;
        text-align: left;
        margin:  0 auto 5px auto;
    }

    .priceTime{
        
        height: 140px;
        flex-direction: column;
        justify-content:space-around;

    }
    .priceTime table{
            width: 50%;
            margin: 0 auto;
    }

    .commonT{
        text-align: left;
        margin: 0 auto;
    }
    
    /* ----------------------------------- */
    /* 予約　                              */
    /* ----------------------------------- */
    .courseList{
        /* flex-direction:column; */
        flex-wrap:wrap;
        justify-content: space-around;
    }

    .courseSet{
        width:225px;
        margin-bottom: 5px;
    }
    .course p{
        font-size:120%;
    }

    .yoyakuAll{        
        flex-direction:column;  
    }
    .yoyakuBox{ 
        width:250px;               
        display:block;
        margin-bottom: 5px;        
    }
    .yoyakulabel{
        display: block;
        text-align: left;
    }
    .nameInfo{
        flex-direction:column;        
    }    
    .inputBox{
        width: 250px;
        margin-bottom: 5px;
    }
    #count{
        margin: 0;        
    }


}
/* レシポンシブルここまで */


